@page
@model Lab1.IndexModel
@{
}
<h2>Lista studentów</h2>
<table border="1">
    <thead>
        <tr>
            <th>Nazwisko</th>
            <th>Imię</th>
            <th>Wiek</th>
            <th>Nazwa grupy</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model.Students)
        {
            <tr>
                <td>@s.LastName</td>
                <td>@s.FirstName</td>
                <td>@s.Age</td>
                <td>@s.Group?.Name</td>
            </tr>
        }
    </tbody>
</table>